<div class="show-chart-box">
    <ul class="header-list">
        <li class="chart-header show-chart-header-js">
            Show chart
        </li>
        <li>
            <button class="chart-btn show-chart-btn-js">
                <svg viewBox="0 0 24 24" class="chart-icon">
                    <path d="M7.406 8.578l4.594 4.594 4.594-4.594 1.406 1.406-6 6-6-6z"></path>
                </svg>
            </button>
        </li>
    </ul>
</div>
<div class="chart-box">

    <ul class="hide-chart header-list">
        <li class="chart-header hide-chart-header-js">
            Hide chart
        </li>
        <li>
            <button class="chart-btn hide-chart-btn-js">
                <svg viewBox="0 0 24 24" class="chart-icon hide-chart-icon">
                    <path d="M7.406 15.422l-1.406-1.406 6-6 6 6-1.406 1.406-4.594-4.594z"></path>
                </svg>
            </button>
        </li>
    </ul>

    <p class="chart-title">Average:</p>
    <div class="chart-wrapper">
        <canvas class='js-chart'> </>
    </div>
</div>