{{#each this}}
<div class="search-location__slider-list-item">
    <div class="search-location__slider-list-content">
        <p class="search-location__slider-list-sity">{{this}}</p>
        <button type="button" class="search-location__slider-list-content-renove-city__button">X
        </button>
    </div>
</div>
{{/each}}