<div class='search-city__slider-list-content'>
  <p class='search-city__slider-list-city'>{{this}}</p>
  <button type='button' class='search-city__slider-list-content-renove-city__button'>
    X
  </button>
</div>